
<table id="highscore">
	<thead>
		<tr class="highscore-header"><th>#</th> <th>Drönare</th> <th>Koppar</th> </tr>
	</thead>
	<tfoot>
	</tfoot>
	<tbody>
		<% counter = 0 %>
		<% @hs_list.each do |drinker| %>
			<tr class="drinker" data-id="<%= drinker.id %>">
				<td class="hs-rank"> <%= counter += 1 %> </td>
				<td class="hs-name"><%= link_to drinker.name, "/coffee_drinkers/#{drinker.card_uid}"%></td>
				<td class="hs-cups"><%= drinker.cups %></td>
			</tr>
		<% end %>
	</tbody>
</table>