<div class="view-switch">
    <button class="view-btn btn btn-small show-area">Vecka dag för dag</label>
    <button class="view-btn btn btn-small show-pie">Veckototal</label>
    <button class="view-btn btn btn-small show-highscore">Highscore</label>
</div>

<%= audio_tag asset_path('pling.mp3'), id: 'increment-audio', type: 'audio/mp3' %>
<div id="container"></div>

<div id="highscore-container">
    <%= render "highscore" %>
</div>

<script type="text/javascript">

$(function () {
    $('.drinkers-cups').hide();
    coffee.drinkers.init();
});
</script>