<%= link_to '<- Top of the pops', coffee_drinkers_url %>

<h1>Kaffedrickare <%= @drinker.name %>  (#<%= @drinker.card_uid %>)</h1>
<% @drinklog.each do |day, cups| %>
  <%= day.strftime("%F") %>
  <ul>
  <% cups.each_with_index do |cup, index| %>
	<li>
		Cup #<%= index %> (id: <%= cup.id %>),
		<%= cup.created_at %>
		<%= link_to 'Delete', cup, method: :delete %>
	</li>
  <% end %>
 </ul>
<% end %>