/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "twitter/bootstrap";

.view-switch {
	margin-top: 20px;
}
.view-btn {
	margin-right: 10px;
}

body {
  background-color: #FFF6E0;
}

/* Highcharts container */
#container {
  min-width: 310px;
  height: 500px;
  margin: 20px auto;
}


#highscore {
  margin: auto;
  width: 100%;

  .highscore-header {
    font-size: 20px;
    color: #77674A;
    border-bottom: 1px solid;
  }
  .drinker {
    font-size: 28px;

    td {
      padding-right: 36px;
      color: #55472D;
    }
  }
}